<h1>Billboard's Greatest</h1>
<%= link_to 'Create a new chart', new_chart_path %>
<ul>
  <% @charts.each do |chart| %>
    <li>
      <%= link_to chart.name, chart %>
    </li>
  <% end %>
</ul>




<!--<p>Find me in app/views/charts/index.html.erb</p>-->
